body {
  background:#DC5D63;
  font-family: 'Mitr';
}
.content {
  width:auto;
  height: 1300px;
  background: #DC5D63;
  padding:10px;
  border: 10px solid: #2C3E50;
  margin:20px;

  display:-webkit-flex;
  display:-ms-flexbox;
  display: flex;

  flex-direction:row;
  flex-wrap:nowrap;

  justify-content: center;
  align-items: stretch;

}

.element {
  padding:70px;
  flex-grow:1;
  color: #AD2026;
  margin:5px;
  flex-basis: 50px;
  /*height: 50px;*/
  text-align: center;
  background: #FD979C;
  font-size: 20px


}

.element2{
  overflow: scroll;
  flex-grow: 3;
  padding: 0px;
  margin: 0 auto;
  text-align: center;


}

.Filtering{
  font-size: 20px;

}

.top{
  width:auto;
  height: 100px;
  background: #DC5D63;
  padding:10px;
  border: 10px solid: #2C3E50;
  margin:20px;

  display:-webkit-flex;
  display:-ms-flexbox;
  display: flex;
  align-content: space-between;
}

.top1{
  padding:0px;
  flex-grow:1.5;
  color: #DC5D63;
  margin:5px;
  flex-basis: 50px;
  /*height: 50px;*/
  text-align:right;
  background: #DC5D63;

}


.top2{
  flex-grow:1;
  color: #DC5D63;
  margin:5px;
  flex-basis: 50px;
  /*height: 50px;*/
  text-align: right;
  background: #DC5D63;
}


.goToTheTop{
border-radius: 203px;
border-color: #FD0F0F;
text-align: center;
font-size: 25px;
padding: 12px 28px;
background-color: #FD4040;

}

.PageTypesOfpokemon{
  width:auto;
  height: 800px;
  background: #DC5D63;
  padding:10px;
  border: 10px solid: #2C3E50;
  margin:20px;
  text-align: center;
  display:-webkit-flex;
  display:-ms-flexbox;
  display: flex;
  flex-direction:column;
}
.Types{

  flex-grow:7;
  width:auto;
  height: auto;
  color: #AD2026;
  margin:5px;
  flex-basis: 50px;
  background: #FD979C;
  font-size: 20px;
  padding:70px;
}
.TypeFoot{
  flex-grow:1;
  color: #AD2026;
  margin:5px;
  flex-basis: 50px;
  background: #DC5D63;
}
.PageTypesOfWeackness{

  width:auto;
  height: 800px;
  background: #DC5D63;
  padding:10px;
  border: 10px solid: #2C3E50;
  margin:20px;
  text-align: center;
  display:-webkit-flex;
  display:-ms-flexbox;
  display: flex;
  flex-direction:column;
}
.weackness{

  flex-grow:7;
  width:auto;
  height: auto;
  color: #AD2026;
  margin:5px;
  flex-basis: 50px;
  background: #FD979C;
  padding:70px;
  font-size: 20px;
}

.TypeFoot2{
  flex-grow:1;
  color: #AD2026;
  margin:5px;
  flex-basis: 50px;
  background: #DC5D63;
}
 .AllTheFeatures{
   width:auto;
   height: 800px;
   background: #DC5D63;
   padding:10px;
   border: 10px solid: #2C3E50;
   margin:20px;

   display:-webkit-flex;
   display:-ms-flexbox;
   display: flex;

   flex-direction:row;
   flex-wrap:wrap;

   justify-content: center;
   align-items: stretch;
 }
 .AllForEach{
   flex-grow:2;
   margin:5px;
   flex-basis: 50px;
   /*height: 50px;*/
   text-align: center;
   background: #FD979C;
 }
 .ImagenPokedex{
   flex-grow:1;
   background: #DC5D63;
   display: flex;
  align-items: center;
  justify-content: center;

 }
 .Pokedex{
    width: 300px; height: 500px;
 }

 .Filtering{
   border-radius: 203px;
   border-color: #FD0F0F;
   text-align: center;
   font-size: 25px;
   padding: 12px 28px;
   background-color: #F97076;

 }

 #FirstPage{
   display:block;
 }
 #SecondPage{
   display:none;
 }
 #ThirdPage{
   display:none;
 }
 #FourthPage{
   display:none;
 }
#bordertable{
  border: red 5px;
}
nav {
  margin:auto auto;
  width:90%
  max-width: 1000px;
}
nav ul{
  list-style: none;
}
nav > ul{
  display: grid;
  overflow: hidden;
  width: 100%;
  position: relative;

}
nav >ul  li{
  display:inline-block;
}
/*sub menu;*/
nav > ul > li:hover > ul {
  display: block;
}
nav > ul > li > ul {
  display:none;
}
nav > ul li a{
  color: #DC5D63;
  display: block;
  position: relative;
  text-align: center;
  font-size: 25px;

}
#filterResult{
  margin: auto;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
#tarjet{
   line-height: 1;
}
